/* Extra large screens */
@media (min-width: 1920px) {}

/* Desktops */
@media (min-width:1200px) and (max-width:1919px) {}

/* Laptops/Large tablets */
@media (min-width:992px) and (max-width:1199px) {}

/* small tablets */
@media (min-width:768px) and (max-width:991px) {}

/* Extra small devices */
@media (min-width:481px) and (max-width:767px) {
    .how-to ul li {
        font-size: 0.6rem;
    }
}

/* Mobile */
@media (min-width:320px) and (max-width:480px) {
    .how-to ul li {
        font-size: 0.8rem;
        padding: 0px 14px;
        line-height: 2.5rem;
    }

    form {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    input {
        width: 67vw;
    }
}